body {
  color: #2a2828;
}

.green-title{
  color: #006837;
  font-weight: bold;
}

#linkModal{
  cursor: pointer;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navbar{
  min-height: 100px;
}
.navbar-default {
  background-color: #f7f7f7;
  border-color: #e7e7e7;
  box-shadow: 1px 1px 10px #0f0f0f;
}
.navbar-brand{
  padding: 0;
  padding: 5px 15px;
}
.navbar-default .navbar-nav>li>a {
  color: #006837;
  font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: black;
  background-color: #ffd503;
  font-weight: bold;
}
.navbar-nav li a {
  line-height: 75px;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
/* Carousel base class */
.main-banner {
  margin-bottom: 60px;
}
.banner-home{
  background: url('../images/home-banner.jpg') no-repeat;
  background-size: cover;
  height: 400px;
  width: 110%;
  margin-left: -5%;
}
/* Since positioning the image, we need to help out the caption */
/* Declare heights because of positioning of img element */
.main-banner  {
  height: 400px;
  background-color:#ccc;
}
.main-banner img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

footer{
  margin-top: 60px;
  background: #006837;
}
footer address p strong{
  color: #ffd503;
}
footer address p, footer address p a, footer address p a:hover{
  color: white;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
